{% extends './layout.html' %}

{% block title %}ayabala云盘网页版{% endblock %}

{% block head %}
<meta name="Keywords" content="ayabala,云盘, 分享, 网盘, 网络硬盘, U盘, 云存储, 传输, 存储, 同步, 备份, 拍照, 上传, 下载, 中转, 文件, 照片, 相册, 离线, 传文件, wifi, cloud, 云盘网页版">
<meta name="Description" content="云盘是ayabala公司为用户精心打造的一项智能云服务, 您可以通过云盘方便地在手机和电脑之间同步文件、推送照片和传输数据。">
<link rel="stylesheet" href="/common/css/reset.css">
<link rel="stylesheet" href="/common/css/common.css">
<link rel="stylesheet" href="/disk/css/index.css">
{% endblock %}

{% block content %}
<div class="g-header">
    <h1><img src="/disk/img/web-logo.png" alt="ayabala云盘网页版"></h1>
    <div class="logout"><a href="javascript:;">退出登录</a></div>
</div>
<div class="g-side">
    <div class="g-upload">
        <!--<input type="file" name="file" id="file" style="position:absolute;opacity:0;width:0;height:0;">-->
        <div class="m-upload" for="file"><i class="f-inbl">+</i><span class="f-inbl">上传</span></div>
    </div>
    <ul class="g-list">
        <li class="m-list list-all"><a href="#all">目录</a></li>
        <li class="m-list-gap"><span></span></li>
        <li class="m-list list-music"><a href="#music">音乐</a></li>
        <!--<li class="m-list list-picture"><a href="javascript:;">图片</a></li>-->
        <li class="m-list list-video"><a href="#video">视频</a></li>
        <li class="m-list-gap"><span></span></li>
        <li class="m-list list-recylebin"><a href="#recylebin">回收站</a></li>
    </ul>
</div>
<div class="g-main">
    <div class="g-toolbar">
        <div class="g-btn-left">
            <!--<a class="u-btn" href="javascript:;"><span class="ico ico-down"></span>下载</a>-->
            <!--<a class="u-btn" href="javascript:;"><span class="ico ico-share"></span>分享</a>-->
            <a class="u-btn move" href="javascript:;" data-hidden="hidden"><span class="ico ico-move"></span>移动到</a>
            <a class="u-btn rename" href="javascript:;" data-hidden="hidden"><span class="ico ico-rename"></span>重命名</a>
            <a class="u-btn dele" href="javascript:;"><span class="ico ico-del"></span>删除</a>
            <a class="u-btn mkdir" href="javascript:;" data-hidden="hidden"><span class="ico ico-mkdir"></span>新建文件夹</a>
            <a class="u-btn restore" href="javascript:;" data-hidden="hidden" data-remove="remove"><span class="ico ico-restore"></span>还原</a>
            <a class="u-btn remove" href="javascript:;" data-hidden="hidden" data-remove="remove"><span class="ico ico-remove"></span>彻底删除</a>
        </div>
        <div class="g-btn-right">
            <a class="u-btn u-btn-upload" href="javascript:;"><span class="ico ico-list"></span>上传列表</a>
            <a class="u-btn u-btn-list" href="javascript:;" data-hidden="hidden"><span class="ico ico-list"></span>文件列表</a>
        </div>
    </div>
    <div class="g-filebox">
        <div class="g-file-tree">
            <div class="tree-menu">
                <ul>
                    <li>
                        <div class="tree-title tree-nav" data-file-id="null" style="padding-left:14px;">
                            <span>
                                <strong class="ellipsis">云盘</strong>
                                <i class="ico"></i>
                            </span>
                        </div>
                        <div class="tree-wrap">
                            <!-- <ul>
                                <li>
                                    <div class="tree-title tree-contro" style="padding-left: 24px;">
                                        <span>
                                            <strong class="ellipsis">我的文档</strong>
                                            <i class="ico"></i>
                                        </span>
                                    </div>
                                    <ul></ul>
                                </li>
                            </ul> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="g-file-show">
            <div class="g-filepath">
                <span class="checkbox" id="all"></span>
                <div class="g-path" data-hidden="hidden">
                    <a href="javascript:;" data-file-id="null" style="z-index:999;background-position: right -200px;">云盘</a>
                    <div class="g-path-tree"></div>
                </div>
            </div>
            <div class="g-filewrap">
                <div class="g-filecon clearfix">
                    <!--<div class="m-file">-->
                    <!--<span class="checkbox"></span>-->
                    <!--<div class="img"><span class="img-folder f-inbl"></span></div>-->
                    <!--<div class="name">-->
                    <!--<span style="display: block;">哈哈</span>-->
                    <!--<input style="display: none;" type="text">-->
                    <!--</div>-->
                    <!--<div class="tool">-->
                    <!--<a href="javascript:;"></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contextmenu">
    <a href="javascript:;" class="ctx-remove">删除</a>
    <a href="javascript:;" class="ctx-move"  data-hidden="hidden">移动到</a>
    <a href="javascript:;" class="ctx-rename"  data-hidden="hidden">重命名</a>
</div>
<div class="g-bk"></div>

<div class="drag-move">
    <div class="icons">
        <!--<span class="icon"></span>-->
    </div>
    <span class="sum"></span>
</div>
<div class="full-tip-box">
    <span class="full-tip">
        <span class="inner">
            <i class="ico"></i>
            <span class="text" data-id="label"></span>
        </span>
    </span>
</div>

<div class="g-confirm g-confirm-upload">
    <h3 class="g-confirm-header g-confirm-header-upload"><div class="title">上传文件</div></h3>
    <div class="g-confirm-content g-confirm-content-upload">
        <div class="mod-alert">
            <div class="alert-inner">
                <ul class="g-upload-list">
                    <!--<li>-->
                       <!--<div class="progress-bar-wrap">-->
                           <!--<div class="progress-bar"></div>-->
                       <!--</div>-->
                        <!--<p class="progress-con clearfix">-->
                            <!--<span class="per f-left">100%</span> <span class="upload-name f-right">aaaa.mp3</span>-->
                        <!--</p>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="g-confirm-btn g-confirm-btn-upload">
        <a class="btn ok f-inbl" href="javascript:void(0)">确定</a>
    </div>
    <div class="g-confirm-close g-confirm-close-upload">×</div>
</div>
{% endblock %}

{% block script %}
<script src="/disk/js/nj.js"></script>
<script src="/disk/js/index.js"></script>
<script src="/disk/js/router.js"></script>
<script></script>
{% endblock %}